<ion-view view-title="Appointments">
  <ion-content>
    <ion-header-bar class="top">
       <h1 class="title">Appointments</h1>
       <button class="button button-icon ion-plus" ng-click="addAppointment()">
       </button>
     </ion-header-bar>

    <ion-list>
      <ion-item ng-repeat="appointment in appointments" href="#/app/appointments/{{appointment.id}}">

        <div>Client: {{appointment.client}}</div>
        <div>Interpretter: {{appointment.interpretter}}</div>
        <div>Time: {{appointment.startdate | date: 'mediumTime'}}</div>
        <div>Date: {{appointment.startdate | date: 'longDate'}}</div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
