/* Empty. Add your own CSS if you like */
.there-top-bar {
  background-color: grey;
  color: white;
}

.there-top-bar h1 {
  color:white;
}

.tabs-positive.there-bottom-bar > .tabs {
  background-color: grey;
  color: white;
}
